@import "bootstrap";
@import "sg_variables";


#container.landing {
  background: $green;
  color: $cream;
  .logo-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .subtopics-row {
    margin-top: 10px;
  }
  .subtopic-container {
    text-align: center;
    .subtopic-card {
      transition: box-shadow .1s ease-in;
      cursor: pointer;
      height: 170px;
      width: 200px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: $lightGray;
      background: $cream;
      border-radius: 1px;
      font-size: 23px;
      display: inline-block;
      font-weight: 300;
      padding: 15px;
      @extend .shadow-z-1;
      img {
        opacity: 0.4;
        margin-top: 12px;
        margin-bottom: 12px;
      }
      &:hover {
        @extend .shadow-z-3;
      }
    }
  }
  .left-inner-addon {
    border-radius: 1px;
    position: relative;
    i {
      font-size: 28px;
      color: $green;
      position: absolute;
      padding: 10px 12px;
      pointer-events: none;
    }
    input.form-control {
      font-weight: 300;
      padding-left: 50px;
      border:0;
      border-radius: 1px;
      @extend .shadow-z-1;
    }
    .results {
      position:absolute;
      z-index: 2000;
      border:1pt solid $lightGray;
      @extend .shadow-z-1;
      li {
        list-style: none;
        padding: 10px;
        background: $white;
        color: $black;
        width: 398px;
        cursor: pointer;
        &:hover {
          background: $lightGreen;
        }
      }
    }
  }
  .footer {
    text-align: center;
    clear: both;
    li {
      display: inline-block;
      padding: 25px;
      font-size: 20pt;
      font-weight: 300;
    }
    a {
      color: #F4F0E9;
    }
  }
}

