@import "bootstrap";


body {
  background: #49BEA3;
}
.subtopic-card {

  height: 170px;
  background: #F4F0E9;
  border-radius: 4px;
  font-size: 25px;
  margin: 15px;
}

.row {
  margin: 25px
}

.logo {

}
input {
  border:5px #F4F0E9;
  background: #F4F0E9;
  color: #F4F0E9;
  border-radius: 4px;
  width: 500px ;
}

a {
  color: #F4F0E9;
}

.left-inner-addon {
  position: relative;
}
.left-inner-addon input {
  padding-left: 30px;    
}
.left-inner-addon i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
}

li {
  margin: 25px;
  display: inline-block;
}