@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

$green: #49BDA3;
$lightGreen: rgb(170,217,203);
$cream: #F4F0E9;
$white: #FFFFFF;

$helvetica: "Helvetica Neue", sans-serif;

html, body {
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
  background: $cream;
  font-family: $helvetica;
}
#container {
  height:inherit;
  margin:0;
  header#header {
    height: 70px;
    background-color: $green;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.6);
    .logo {
      float: left;
      height: inherit;
      display: inline-block;
      background-image: url('/img/logo.png');
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: 20px 2px;
    }
    .search {
      text-align: center;
      padding: 15px 0 ;
      * {
        height:35px;
        vertical-align: top;
      }
      input {
        display:inline-block;
        background:$cream;
        border:0;
        width: 400px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 0 8px;
        font-size: 20px;
        font-weight: 300;
        font-style: italic;
        color: $green;
        &:focus {
          outline: none;
        }
      }
      .magnifying-glass {
        display: inline-block;
        background-color: $lightGreen;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        width: 60px;
        cursor: pointer;
        &:hover {
          box-shadow: 0px 0px 9px rgba(0,0,0,0.1) inset;
        }
        &:active {
          box-shadow: 0px 0px 9px rgba(0,0,0,0.3) inset;
        }
      }

    }
    .side-nav {
      div {
        text-align: left;
        vertical-align: middle;
        height: 30px;
        font-size: 16px;
        a {
          color: $cream;
        }
      }
      padding: 20px 0;
    }
  }
}