@import "bootstrap";
@import "sg_variables";

.result-card {
  @extend .shadow-z-1;
  cursor: pointer;
  width: 1000px;
  font-weight: 150;
  height: 140px;
  background: $white;
  border-radius: 1px;
  overflow: hidden;
  position:relative;
  margin: 10px 0;
  .card-image {
    float: left;
    width: 90px;
    height: 140px;
    img {
      max-width: 100px;
      max-height: 90px;
    }
}
  .author-name {
    position: relative;
    left: -60px;
    padding-top: 15px;
    font-family: $helvetica;
    font-size: 22px;
  }
  .article-title {
    font-family: $helvetica;
    font-size: 22px;
    padding-top: 15px;
    position: relative;
    left: -110px;
  }
  .company-name {
    position: relative;
    left: -60px;
  }
  .quote {
    position: relative;
    left: -110px;
    color: $lightGray;
    font-size: 13px;
  }
  a {
    font-style: thin;
    position: relative;
    right: -65px;
    top: 5px;
    color: $green;
    border: solid thin;
    border-radius: 3px;
    font-size: 8px;
  }
}
  .result-card .expanded-view {
    display: none;
  }
  .result-card.expanded .expanded-view {
    display: block;
    width: 1000px;
    font-weight: 150;
    height: 180px;
  }







