@import "bootstrap";
@import "sg_variables";

div.result-card {
  @extend .shadow-z-1;
  cursor: pointer;
  width: 1000px;
  font-weight: 300;
  height: 120px;
  &.expanded {
    height: 200px;
  }
  background: $white;
  border-radius: 1px;
  overflow: hidden;
  position:relative;
  margin: 10px 0;
  padding-left: 0;
  .card-image {
    float: left;
    width: 110px;
    height: 120px;
    overflow: hidden;
    margin-right: 10px;
    img {
      width: 110px;
    }
  }
  .card-row {
    padding: 10px;
    .author-name {
      font-family: $helvetica;
      font-size: 22px;
    }
    .article-title {
      font-family: $helvetica;
      font-size: 22px;
    }
    .company-name {
      color: $lightGray;
    }
    .quote {
      color: $lightGray;
      font-size: 13px;
    }
  }
  .reviewers {
    float: right;
    margin-top:15px;
    li {
      font-style: 300;
      display: inline-block;
      padding: 3px;
      top: 5px;
      color: $green;
      border: 1pt solid $green;
      border-radius: 3px;
      font-size: 10px;
    }
  }
}








