@import "sg_variables";

.sidebar {
  font-weight: 300;
  font-size: 17px;
  .sidebar-item {
    margin: 2px 0 2px 0;
    color: $green;
    border-radius: 2px;
    padding: 5px;
    i {
      float:right;
      padding:3px;
    }
    &.selected {
      background-color: $green;
      color: $cream;
    }
    &.topic {
      margin: 6px 0 6px 0;
    }
    &.subtopic {
      margin: 6px 0 6px 10px;
    }
    &.tag {
      margin: 6px 0 6px 20px;
    }
  }
}