@import "bootstrap";
@import "sg_variables";
// @import "materialize";

.subtopic-card {
  @extend .z-depth-1;
  width: 200px;
  color: $cream;
  height: 160px;
  background: $green;
  border-radius: 3px;
  float: left;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  padding: 14px;
  font-size: 25px;
  text-align: center;
}