    <header id="header" class="row">
      <div class="logo col-md-4"></div>
      <div class="search col-md-4">
        <input type="text" placeholder="Search Query Here..."><div class="magnifying-glass"></div>
      </div>
      <div class="side-nav col-md-4">
        <div class="row">
          <div class="col-md-3"><a href="">who we are</a></div>
          <div class="col-md-3"><a href="">thought leaders</a></div>
          <div class="col-md-3"><a href="">contact</a></div>
          <div class="col-md-3"><a href="">blog</a></div>
        </div>
      </div>
    </header>