<div id="main">
  <div class="left-bar"></div>
  <div class="subtopic-card">Administrative</div>
  <div class="subtopic-card">Compensation</div>
  <div class="subtopic-card">Recruiting</div>
  <div class="subtopic-card">Product &amp; Design</div>
  <div class="subtopic-card">Pitching</div>
  <div class="subtopic-card">Business Model</div>
  <div class="subtopic-card">Decks</div>
  <div class="subtopic-card">Education</div>
  <div class="subtopic-card">Entrepreneurs</div>
  <div class="subtopic-card">Accounting</div>
  <div class="subtopic-card">Capital</div>
  <div class="subtopic-card">Debt</div>
  <div class="subtopic-card">Equity</div>
  <div class="subtopic-card">Revenue Model</div>
  <div class="subtopic-card">Competition</div>
  <div class="subtopic-card">Customer Development</div>
  <div class="subtopic-card">Starting Up</div>
  <div class="subtopic-card">Lean</div>
  <div class="subtopic-card">Growth</div>
  <div class="subtopic-card">Angels</div>
  <div class="subtopic-card">Exits</div>
  <div class="subtopic-card">Fundraising</div>
  <div class="subtopic-card">Investment</div>
  <div class="subtopic-card">Valuation</div>
  <div class="subtopic-card">Mergers &amp; Acquisitions</div>
  <div class="subtopic-card">Negotiation</div>
  <div class="subtopic-card">Terms</div>
  <div class="subtopic-card">Advisors</div>
  <div class="subtopic-card">Board of Directors</div>
  <div class="subtopic-card">Introductions</div>
  <div class="subtopic-card">Founders</div>
  <div class="subtopic-card">Management</div>
  <div class="subtopic-card">Marketing</div>
  <div class="subtopic-card">Sales</div>
  <div class="subtopic-card">Legal/Lawyers</div>
  <div class="subtopic-card">Intellectual Property</div>
  </div>
</div>