<div id="nav-container"></div>
</nav>
<div class="container-fluid about">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>The Grid</h1>
      <p>We are a diverse team of Middlebury College students embarking on our first venture so others have the framework to start theirs.</p>
      <p>Instead of leaving it to time-starved entrepreneurs to filter through thousands of opinions, our team has gathered, curated, and organized the best startup material into one place. We’re adding a human element to this collection by incorporating exclusive interviews with top thought leaders because we believe everyone should be given the opportunity to follow their passion.</p>
      <p>After twenty-five days, hundreds of heady toppers, and thousands of curated posts we have set in motion a project to empower and engage the entrepreneurship community to organize its knowledge.</p>
    </div>
  </div>
  <h1>The Team</h1>
  <div class="team"></div>
</div>
