<div id="nav-container"></div>
<div class="container-fluid about">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>The Grid</h1>
      <p>We are a diverse team of Middlebury College students embarking on our first venture so others have the framework to start theirs.</p>
      <p>Instead of leaving it to time-starved entrepreneurs to filter through thousands of opinions, our team has gathered, curated, and organized the best startup material into one place. We’re adding a human element to this collection by incorporating exclusive interviews with top thought leaders because we believe everyone should be given the opportunity to follow their passion.</p>
      <p>After twenty-five days, hundreds of heady toppers, and thousands of curated posts we have set in motion a project to empower and engage the entrepreneurship community to organize its knowledge.</p>
    </div>
  </div>
  <h1 class="team"> The Team </h1>
  <div class="team-container">
    <div class="row text-center">
      <div class="col-sm-2 col-xs-6">
        <div class="img-container img-responsive">
          <img src="/img/face_photos/Ty_Danco.jpg">
        </div>
        <h4 class="fonts">Ty Danco</h4>
        <h5>Instructor</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Adam_Bouchard.png">
        </div>
        <h4>Adam Bouchard</h4>
        <h5>IT Design Advisor</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/David_Colander.jpg" style="margin-top: -15px;">
        </div>
        <h4>David Colander</h4>
        <h5>Instructor</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Jake_Vacovec.jpg">
        </div>
        <h4>Jake Vacovec</h4>
        <h5>Product Manager</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Will_Potter.jpg">
        </div>
        <h4> Will Potter</h4>
        <h5>Programmer</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Teddy_Knox.jpg">
        </div>
        <h4>Teddy Knox</h4>
        <h5>Programmer</h5>
      </div>
    </div>

     <div class="row text-center">
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Hunter_Huebsch.jpg">
        </div>
        <h4>Hunter Heubsch</h4>
        <h5>Designer</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Will_Hanley.jpg" style="margin-top: -20px; margin-right: 6px;">
        </div>
        <h4>Will Hanley</h4>
        <h5>Film Crew/Programmer</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Weyland_Joyner.jpg">
        </div>
        <h4>Weyland Joyner</h4>
        <h5>Programmer</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Sarah_Macy.jpg">
        </div>
        <h4>Sarah Macy</h4>
        <h5>Film Crew</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Annesha_Bhattacharya.jpg" style="">
        </div>
        <h4>Annesha Bhattacharya</h4>
        <h5>Social Media</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Zach_Faber.jpg">
        </div>
        <h4>Zach Faber</h4>
        <h5>Researcher</h5>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Joe_Pesce.jpg" class="img-wide" style="margin-left: -15px;">
        </div>
        <h4>Joe Pesce</h4>
        <h5>Researcher</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Matt_Milano.jpg">
        </div>
        <h4>Matt Milano</h4>
        <h5>Researcher</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Cal_Williams.jpg">
        </div>
        <h4>Cal Williams</h4>
        <h5>Researcher</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Chad_Kahn.jpg">
        </div>
        <h4>Chad Kahn</h4>
        <h5>Film Crew</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Christian_Bonaventura.jpg">
        </div>
        <h4>Christian Bonaventura</h4>
        <h5>Film Crew</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Leah_Fessler.jpg" >
        </div>
        <h4>Leah Fessler</h4>
        <h5>Social Media</h5>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Gabe_Weissman.jpg">
        </div>
        <h4>Gabe Weissman</h4>
        <h5>Researcher</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Devon_Nai.jpg">
        </div>
        <h4>Devon Nai</h4>
        <h5>Researcher</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Chris_Frost.jpg" class="img-wide" style="margin-left: -25px;">
        </div>
        <h4>Chris Frost</h4>
        <h5>Researcher</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Jim_Simmons.jpg">
        </div>
        <h4>Jim Simmons</h4>
        <h5>Researcher</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Cathy_Wu.jpg">
        </div>
        <h4>Cathy Wu</h4>
        <h5>Researcher</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Peter_Heidrich.jpg" class="img-wide" style="margin-right: 40 px">
        </div>
        <h4>Peter Heidrich</h4>
        <h5>Researcher</h5>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Anish_Johri.jpg" style="margin-top: -15px">
        </div>
        <h4>Anish Johri</h4>
        <h5>Researcher</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Raphael_Culioli.jpg" class="img-wide">
        </div>
        <h4>Raphael Culioli</h4>
        <h5>Researcher</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Kyle_Ashley.jpg">
        </div>
        <h4>Kyle Ashley</h4>
        <h5>Researcher</h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Yuan_Liu.jpg">
        </div>
        <h4>Yuan Liu</h4>
        <h5>Researcher </h5>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="img-container">
          <img src="/img/face_photos/Ben_Weaver.jpg" class="img-wide" style="margin-left: -15px;">
        </div>
        <h4>Ben Weaver</h4>
        <h5>Programmer</h5>
      </div>
    </div>
  </div>
</div>
