<div class="inner-img-container">
  {{#image_url}}
    <img class="author-image" src="{{image_url}}">
  {{/image_url}}
  {{^image_url}}
    <img class="author-image" src="img/logo_large.png">
  {{/image_url}}
</div>
<div class="text-container">
  <div class="author-card-name">
    {{name}}
  </div>
  <div class="authors-title">
    {{title}}
  </div>
</div>
