<div class="outer-img-container">
  <div class="inner-img-container">
    <img class="author-image" src="{{image_url}}">
  </div>
</div>
<div class="text-container">
  <div class="author-card-name">
    {{name}}
  </div>
  <div class="authors-title">
    {{title}}
  </div>
</div>
