<div class="container-fluid">
  <div id="sg-grid" class="author-browse"></div>
</div>
<!-- <div class="sort-bar col-md-12">
  <a href="" class="selected">relevance</a>
  <a href="">popularity</a>
  <a href="">recent</a>
</div> -->
