<form method="POST" action="/__/forms/contact">
  <label>Name:</label> <input type="text" name="name">
  <label>Email:</label> <input type="email" name="email">
  <button type="submit">Contact Us</button>
</form>
