<nav id="navbar" class="navbar navbar-default"></nav>
<div id="main" class="">
  <!-- <div class="sort-bar col-md-12">
    <a href="" class="selected">relevance</a>
    <a href="">popularity</a>
    <a href="">recent</a>
  </div> -->
  <div id="sidebar" class="sidebar col-md-2"></div>
  <div id="sg-grid" class="sg-grid col-md-10">

    <div class="clearfix"></div>
  </div>
</div>