<div class="container">
  <div class ="logo-container row">
    <div class="col-md-8 col-md-offset-2">
      <img src="img/logo_large.png" alt="" class="logo img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="search">
      <div class="col-md-12 col-md-offset">
        <div class="left-inner-addon">
          <i id="landing-search-img" class="glyphicon glyphicon-search"></i>
          <input type="text" id="landing-search" class="search-input form-control input-lg"
            name="search" placeholder="Search the grid..." autofocus/>
          <div class="results col-md-12">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="subtopics-row row">
  {{#topics}}
    <div class="subtopic-container col-md-3 col-sm-4 col-xs-12 text-center">
      <div class="subtopic-card" data-id="{{id}}">
      <div><img src="img/ui-elements/{{name}}.png" alt="" width="70"/></div>
      {{name}}
      </div>
    </div>
  {{/topics}}
  </div>
    <div class="row footer">
      <li><a href="#"> who we are </a></li>
      <li><a href="#authors"> thought leaders </a></li>
      <li><a href="#"> contact </a></li>
      <li><a href="#"> blog </a></li>
    </div>
</div>
