<div id="nav-container"></div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div id="sidebar-container" class="col-md-2"></div>
    <div id="sg-grid" class="sg-grid col-md-10"></div>
  </div>
</div>
<!-- <div class="sort-bar col-md-12">
  <a href="" class="selected">relevance</a>
  <a href="">popularity</a>
  <a href="">recent</a>
</div> -->
