<ul class="reviewers">
   <li>SG</li>
</ul>
<div class="img-frame">
  <img src="{{author.image_url}}" alt="">
</div>
<div class="text-container">
  <div class="row card-row">
    <div class="col-md-3 author-name">{{author.name}}</div>
    <div class="col-md-9 article-title"><a class="link" href="{{url}}" target="_blank">{{title}}</a></div>
  </div>
  <div class="collapsed-content">
    <div class="row card-row">
      <div class="col-md-3 company-name">{{author.title}}</div>
      <div class="col-md-9 summary excerpt">{{summary_excerpt}}</div>
    </div>
  </div>
  <div class="expanded-content">
    <div class="row card-row">
      <div class="col-md-3 company-name">{{author.title}}</div>
      <div class="col-md-9 summary">{{summary}}</div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        Media Type:
        <div class="media-type">
          <p>{{media_type}}</p>
        </div>
      </div class="col-md-9 col-md-offset-3">
      <div class="col-md-9 col-md-offset-3">
        Quotes:
        <ul class="quotes">
          {{#quote_1}}
            <li>"{{quote_1}}"</li>
          {{/quote_1}}
          {{#quote_2}}
            <p></p>
            <li>"{{quote_2}}"</li>
          {{/quote_2}}
          {{#quote_3}}
            <p></p>
            <li>"{{quote_3}}"</li>
          {{/quote_3}}
        </ul>
      </div>
      <div class="col-md-9 col-md-offset-3">
        Tags:
        <ul class="tags">
          {{#tags}}
            <li><a href="tags/{{id}}/posts">{{name}}</a>{{^last}}, {{/last}}</li>
          {{/tags}}
        </ul>
      </div>
    </div>
  </div>
</div>
