<div class="topics">
{{#topics}}
{{^topicInvisible}}
<div class="sidebar-item topic {{topicSelected}}" data-id="{{id}}">
  <i class="glyphicon glyphicon-remove"></i>
  <span class="number">{{count}}</span>
  <span class="item-name">{{name}}</span>
</div>
  {{#topicSelected}}
  <div class="subtopics">
  {{#children}}
    {{^subtopicInvisible}}
    <div class="sidebar-item subtopic {{subtopicSelected}}" data-id="{{id}}">
      <i class="glyphicon glyphicon-remove"></i>
      <span class="number">{{count}}</span>
      <span class="item-name">{{name}}</span>
    </div>
    {{#subtopicSelected}}
    <div class="tags">
      {{#children}}
      <div class="sidebar-item tag {{tagSelected}}" data-id="{{id}}">
        <i class="glyphicon glyphicon-remove"></i>
        <span class="number">{{count}}</span>
        <span class="item-name">{{name}}</span>
      </div>
      {{/children}}
    </div>
    {{/subtopicSelected}}
    {{/subtopicInvisible}}
  {{/children}}
  </div>
  {{/topicSelected}}
{{/topicInvisible}}
{{/topics}}
</div>
