@import "bootstrap";
@import "sg_mixins";
@import "sg_variables";

#sg-grid.author-browse {
  margin: -15px;
}
.author-card {
  @extend .shadow-z-1;
  &:hover {
    @extend .shadow-z-2;
    cursor: pointer;
  }

  float: left;
  margin: 15px;
  padding: 5px;
  position: relative;
  cursor: pointer;
  font-weight: 300;
  height: 250px;
  width: 250px;
  background-color: white;
  border-radius: 1px;

  // .outer-img-container {
  //   height: 200px;
  //   padding: 7px;
  // }
  .inner-img-container{
    height: 186px;
    border: 1px solid $lightGray;
    overflow: hidden;
  }

  img {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    height: 186px;
    // background: $cream;
  }

  .text-container {
    padding: 7px;
    text-align: center;
    font-family: $helvetica;

    .author-card-name {
      font-size: 16px;
      color: $black;
    }
    .author-title {
      font-size: 12px;
      color: $lightGray;
    }
  }
}
