@import "bootstrap";
@import "sg_variables";


#container.landing {
  background: $green;
  color: $cream;
  .logo {
    width: 100%;
    // padding: 20px 0;
    margin: auto;
  }
  .logo-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .subtopics-row {
    margin-top: 10px;
  }
  .subtopic-container {
    text-align: center;
    .subtopic-card {
      transition: box-shadow .1s ease-in;
      cursor: pointer;
      height: 150px;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      color: $darkGray;
      background: $cream;
      border-radius: 2px;
      font-size: 100%;
      display: inline-block;
      font-weight: 300;
      padding: 15px;
      @extend .shadow-z-1;
      img {
        opacity: 0.4;
        // margin-top: 12px;
        margin-bottom: 12px;
      }
      &:hover {
        @extend .shadow-z-3;
      }
    }
  }
  .left-inner-addon {
    border-radius: 2px;
    position: relative;
    i {
      font-size: 28px;
      color: $green;
      position: absolute;
      padding: 10px 12px;
      pointer-events: none;
    }
    input.form-control {
      font-weight: 300;
      padding-left: 50px;
      border:0;
      border-radius: 2px;
      @extend .shadow-z-1;
    }
    .results {
      position:absolute;
      background:white;
      z-index: 2000;
      @extend .shadow-z-1;
      li {
        list-style: none;
        padding: 15px;
        padding-left: 70px;
        color: black;
        background: $white;
        cursor: pointer;
        font-weight: 300;
        font-size: 18px;
        margin-left: -15px;
        margin-right: -15px;
        overflow: hidden;
        height: 60px;
        img {
          float: left;
          width: 60px;
          height: 60px;
          margin-top:-15px;
          margin-left:-70px;
        }
        &:hover {
          background: $lightGreen;
        }
        .title {

        }
        .author {
          color: $lightGray;
        }
      }
    }
  }
  .footer {
    text-align: center;
    clear: both;
    li {
      display: inline-block;
      padding: 25px;
      font-size: 15pt;
      font-weight: 300;
    }
    a {
      color: #F4F0E9;
    }
  }
}
