@import "bootstrap";
@import "sg_mixins";
@import "sg_variables";

@import "result_card";
@import "sidebar";
@import "landing";


html, body {
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
  background: $cream;
  font-family: $helvetica;
}
#container {
  margin:0;
  padding:0;
  min-height: 100%;
  .navbar {
    @extend .shadow-z-1;
    .navbar-brand {
      padding:10px;
    }
    .nav a {
      font-weight: 300;
      font-size: 16px;
    }
    .main-search {
      & > * {
        height: 40px;
        display: inline-block;
      }
      .form-group {
        position:relative;
        input {
          height: 40px;
          width: 300px;
          border:0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
          color: $green;
          font-style: italic;
          font-size: 20px;
          transition: width .2s linear;
          -o-transition: width .2s linear;
          -moz-transition: width .2s linear;
          -webkit-transition: width .2s linear;
          &:focus {
            width:400px;
            outline:none;
          }
        }
        .results {
          position:absolute;
          z-index: 2000;
          @extend .shadow-z-1;
          li {
            list-style: none;
            padding: 10px;
            padding-left: 50px;
            background: $white;
            width: 600px;
            cursor: pointer;
            font-weight: 300;
            overflow: hidden;
            height: 40px;
            img {
              float: left;
              width: 40px;
              margin-top:-10px;
              margin-left:-50px;
            }
            &:hover {
              background: $lightGreen;
            }
            .title {

            }
            .author {
              color: $lightGray;
            }
          }
        }
      }
      button.btn {
        border:0;
        background-color: $lightGreen;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 20px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
        span.glyphicon { 
          color: $green;
        }
        &:focus {
          outline:none;
        }

      }
    }
  }
  #main {
    .sort-bar {
      text-align: right;
      display: inline-block;
      font-weight: 300;
      font-size: 18px;
      a {
        color: rgb(159,159,158);
        padding: 0px 20px;
        &:hover {
          text-decoration: none;
        }
        &.selected {
          color: $green;
        }
      }
    }
    .sg-grid {
      .card {
        width: 220px;
        height: 330px;
        margin: 15px;
        border-radius: 2px;
        @extend .shadow-z-1;
        background:white;
        float: left;
        img {
          float: left;
          margin-right:10px;
          margin-bottom: 10px;
        }
        h2.author-name {
          font-weight: 500;
          font-size: 20px;
          margin: 10px 5px;
        }
        .author-title {
          margin: 10px 5px;
          font-size: 11px;
          color: $lightGray;
        }
        .blog-title {
          font-weight: 300;
          font-size: 20px;
          clear:both;
          margin: 5px 10px;
        }
        .choice-buttons {
          position:relative;
          padding:5px 0;
          button.card-btn {
            position: absolute;
            border:0;
            padding:0;
            background-color: transparent;
            color: $lightGray;
            &:first-child {
              left: 10px;
            }
            &:last-child {
              right: 10px;
            }
            &.active {
              color: $green;
            }
          }
        }
        .insights, .questions {
          display: none;
          height: 85px;
          &.visible {
            display: block;
          }
        }
        .attribution {
          text-align: right;
          margin: 5px;
          font-size: 12px;
          .attributee {
            color: $green;
            border: 1pt solid $green;
            padding: 2px 3px;
            margin:0 5px;
            border-radius: 2px;
            display: inline-block;
          }
        }
      }
    }
  }
}
.clearfix {
  clear:both;
}