@import "bootstrap";
@import "sg_variables";

div.result-card {
  @extend .shadow-z-1;
  cursor: pointer;
  font-weight: 300;
  height: 110px;
  transition: height .1s ease-in;
  -webkit-transition: height .1s ease-in;
  -moz-transition: height .1s ease-in;
  -ms-transition: height .1s ease-in;
  &.expanded {
    height: auto;
  }
  background: $white;
  border-radius: 1px;
  overflow: hidden;
  position:relative;
  margin: 10px 0;
  padding-left: 0;
  .image-container {
    float:left;
    width: 110px;
    height: 110px;
    .card-image {
      width: 110px;
      height: 110px;
      overflow: hidden;
      margin-right: 10px;
      img {
        width: 110px;
      }
    }
  }
  .text-container {
    float: left;
    width: calc(100% - 200px);
    margin-left: 10px;
    .card-row {
      padding-top: 10px;
      display: block;
      clear:both;
      &::after {
        content:'';
        clear:both;
        display:block;
      }
      & > * {
        min-height: 30px;
      }
      .author-name {
        font-family: $helvetica;
        font-size: 22px;
        line-height: 25px;
      }
      .article-title {
        font-family: $helvetica;
        font-size: 18px;
        line-height: 25px;
        vertical-align: middle;
      }
      .company-name {
        color: $lightGray;
      }
      .quote {
        height: 40px;
        color: $lightGray;
        font-size: 13px;
        overflow: hidden;
        transition: height .1s ease-in;
      }
    }
  }
  &.expanded {
    .text-container {
      .card-row {
        .quote {
          height: auto;
        }
      }
    }
  }
  .reviewers {
    float: right;
    margin-top:15px;
    li {
      font-style: 300;
      display: inline-block;
      padding: 3px;
      top: 5px;
      color: $green;
      border: 1pt solid $green;
      border-radius: 3px;
      font-size: 10px;
    }
  }
  .expanded-section {
    .tags {
      padding: 10px 0;
      text-align: right;
      .tag {
        display: inline-block;
        padding: 4px;
        margin: 0 2px;
        border: 1pt solid $cream;
        background: $green;
        color: $cream;
        border-radius: 1px;
      }
    }
  }
}








