// Colors
$green: #49BDA3;
$lightGreen: rgb(170,217,203);
$darkGray: rgb(159,159,158);
$lightGray: #CBCACC;
$cream: #F4F0E9;
$white: #FFFFFF;
$black: #000000;

// Fonts
$helvetica: "Helvetica Neue", sans-serif;
